
i[data-feather] {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
}
i[data-feather]:after {
	position: absolute;
	content: " ";
	width: 24px;
	height: 24px;
	background: transparent center center no-repeat;
	background-size: 24px 24px;
}

i[data-feather="activity"]:after { background-image: url(../icons/activity.svg); }
i[data-feather="airplay"]:after { background-image: url(../icons/airplay.svg); }
i[data-feather="alert-circle"]:after { background-image: url(../icons/alert-circle.svg); }
i[data-feather="alert-octagon"]:after { background-image: url(../icons/alert-octagon.svg); }
i[data-feather="alert-triangle"]:after { background-image: url(../icons/alert-triangle.svg); }
i[data-feather="align-center"]:after { background-image: url(../icons/align-center.svg); }
i[data-feather="align-justify"]:after { background-image: url(../icons/align-justify.svg); }
i[data-feather="align-left"]:after { background-image: url(../icons/align-left.svg); }
i[data-feather="align-right"]:after { background-image: url(../icons/align-right.svg); }
i[data-feather="anchor"]:after { background-image: url(../icons/anchor.svg); }
i[data-feather="aperture"]:after { background-image: url(../icons/aperture.svg); }
i[data-feather="archive"]:after { background-image: url(../icons/archive.svg); }
i[data-feather="arrow-down-circle"]:after { background-image: url(../icons/arrow-down-circle.svg); }
i[data-feather="arrow-down-left"]:after { background-image: url(../icons/arrow-down-left.svg); }
i[data-feather="arrow-down-right"]:after { background-image: url(../icons/arrow-down-right.svg); }
i[data-feather="arrow-down"]:after { background-image: url(../icons/arrow-down.svg); }
i[data-feather="arrow-left-circle"]:after { background-image: url(../icons/arrow-left-circle.svg); }
i[data-feather="arrow-left"]:after { background-image: url(../icons/arrow-left.svg); }
i[data-feather="arrow-right-circle"]:after { background-image: url(../icons/arrow-right-circle.svg); }
i[data-feather="arrow-right"]:after { background-image: url(../icons/arrow-right.svg); }
i[data-feather="arrow-up-circle"]:after { background-image: url(../icons/arrow-up-circle.svg); }
i[data-feather="arrow-up-left"]:after { background-image: url(../icons/arrow-up-left.svg); }
i[data-feather="arrow-up-right"]:after { background-image: url(../icons/arrow-up-right.svg); }
i[data-feather="arrow-up"]:after { background-image: url(../icons/arrow-up.svg); }
i[data-feather="at-sign"]:after { background-image: url(../icons/at-sign.svg); }
i[data-feather="award"]:after { background-image: url(../icons/award.svg); }
i[data-feather="bar-chart-2"]:after { background-image: url(../icons/bar-chart-2.svg); }
i[data-feather="bar-chart"]:after { background-image: url(../icons/bar-chart.svg); }
i[data-feather="battery-charging"]:after { background-image: url(../icons/battery-charging.svg); }
i[data-feather="battery"]:after { background-image: url(../icons/battery.svg); }
i[data-feather="bell-off"]:after { background-image: url(../icons/bell-off.svg); }
i[data-feather="bell"]:after { background-image: url(../icons/bell.svg); }
i[data-feather="bluetooth"]:after { background-image: url(../icons/bluetooth.svg); }
i[data-feather="bold"]:after { background-image: url(../icons/bold.svg); }
i[data-feather="bookmark"]:after { background-image: url(../icons/bookmark.svg); }
i[data-feather="book-open"]:after { background-image: url(../icons/book-open.svg); }
i[data-feather="book"]:after { background-image: url(../icons/book.svg); }
i[data-feather="box"]:after { background-image: url(../icons/box.svg); }
i[data-feather="briefcase"]:after { background-image: url(../icons/briefcase.svg); }
i[data-feather="calendar"]:after { background-image: url(../icons/calendar.svg); }
i[data-feather="camera-off"]:after { background-image: url(../icons/camera-off.svg); }
i[data-feather="camera"]:after { background-image: url(../icons/camera.svg); }
i[data-feather="cast"]:after { background-image: url(../icons/cast.svg); }
i[data-feather="check-circle"]:after { background-image: url(../icons/check-circle.svg); }
i[data-feather="check-square"]:after { background-image: url(../icons/check-square.svg); }
i[data-feather="check"]:after { background-image: url(../icons/check.svg); }
i[data-feather="chevron-down"]:after { background-image: url(../icons/chevron-down.svg); }
i[data-feather="chevron-left"]:after { background-image: url(../icons/chevron-left.svg); }
i[data-feather="chevron-right"]:after { background-image: url(../icons/chevron-right.svg); }
i[data-feather="chevrons-down"]:after { background-image: url(../icons/chevrons-down.svg); }
i[data-feather="chevrons-left"]:after { background-image: url(../icons/chevrons-left.svg); }
i[data-feather="chevrons-right"]:after { background-image: url(../icons/chevrons-right.svg); }
i[data-feather="chevrons-up"]:after { background-image: url(../icons/chevrons-up.svg); }
i[data-feather="chevron-up"]:after { background-image: url(../icons/chevron-up.svg); }
i[data-feather="chrome"]:after { background-image: url(../icons/chrome.svg); }
i[data-feather="circle"]:after { background-image: url(../icons/circle.svg); }
i[data-feather="clipboard"]:after { background-image: url(../icons/clipboard.svg); }
i[data-feather="clock"]:after { background-image: url(../icons/clock.svg); }
i[data-feather="cloud-drizzle"]:after { background-image: url(../icons/cloud-drizzle.svg); }
i[data-feather="cloud-lightning"]:after { background-image: url(../icons/cloud-lightning.svg); }
i[data-feather="cloud-off"]:after { background-image: url(../icons/cloud-off.svg); }
i[data-feather="cloud-rain"]:after { background-image: url(../icons/cloud-rain.svg); }
i[data-feather="cloud-snow"]:after { background-image: url(../icons/cloud-snow.svg); }
i[data-feather="cloud"]:after { background-image: url(../icons/cloud.svg); }
i[data-feather="codepen"]:after { background-image: url(../icons/codepen.svg); }
i[data-feather="codesandbox"]:after { background-image: url(../icons/codesandbox.svg); }
i[data-feather="code"]:after { background-image: url(../icons/code.svg); }
i[data-feather="coffee"]:after { background-image: url(../icons/coffee.svg); }
i[data-feather="columns"]:after { background-image: url(../icons/columns.svg); }
i[data-feather="command"]:after { background-image: url(../icons/command.svg); }
i[data-feather="compass"]:after { background-image: url(../icons/compass.svg); }
i[data-feather="copy"]:after { background-image: url(../icons/copy.svg); }
i[data-feather="corner-down-left"]:after { background-image: url(../icons/corner-down-left.svg); }
i[data-feather="corner-down-right"]:after { background-image: url(../icons/corner-down-right.svg); }
i[data-feather="corner-left-down"]:after { background-image: url(../icons/corner-left-down.svg); }
i[data-feather="corner-left-up"]:after { background-image: url(../icons/corner-left-up.svg); }
i[data-feather="corner-right-down"]:after { background-image: url(../icons/corner-right-down.svg); }
i[data-feather="corner-right-up"]:after { background-image: url(../icons/corner-right-up.svg); }
i[data-feather="corner-up-left"]:after { background-image: url(../icons/corner-up-left.svg); }
i[data-feather="corner-up-right"]:after { background-image: url(../icons/corner-up-right.svg); }
i[data-feather="cpu"]:after { background-image: url(../icons/cpu.svg); }
i[data-feather="credit-card"]:after { background-image: url(../icons/credit-card.svg); }
i[data-feather="crop"]:after { background-image: url(../icons/crop.svg); }
i[data-feather="crosshair"]:after { background-image: url(../icons/crosshair.svg); }
i[data-feather="database"]:after { background-image: url(../icons/database.svg); }
i[data-feather="delete"]:after { background-image: url(../icons/delete.svg); }
i[data-feather="disc"]:after { background-image: url(../icons/disc.svg); }
i[data-feather="dollar-sign"]:after { background-image: url(../icons/dollar-sign.svg); }
i[data-feather="download-cloud"]:after { background-image: url(../icons/download-cloud.svg); }
i[data-feather="download"]:after { background-image: url(../icons/download.svg); }
i[data-feather="droplet"]:after { background-image: url(../icons/droplet.svg); }
i[data-feather="edit-2"]:after { background-image: url(../icons/edit-2.svg); }
i[data-feather="edit-3"]:after { background-image: url(../icons/edit-3.svg); }
i[data-feather="edit"]:after { background-image: url(../icons/edit.svg); }
i[data-feather="external-link"]:after { background-image: url(../icons/external-link.svg); }
i[data-feather="eye-off"]:after { background-image: url(../icons/eye-off.svg); }
i[data-feather="eye"]:after { background-image: url(../icons/eye.svg); }
i[data-feather="facebook"]:after { background-image: url(../icons/facebook.svg); }
i[data-feather="fast-forward"]:after { background-image: url(../icons/fast-forward.svg); }
i[data-feather="feather"]:after { background-image: url(../icons/feather.svg); }
i[data-feather="figma"]:after { background-image: url(../icons/figma.svg); }
i[data-feather="file-minus"]:after { background-image: url(../icons/file-minus.svg); }
i[data-feather="file-plus"]:after { background-image: url(../icons/file-plus.svg); }
i[data-feather="file"]:after { background-image: url(../icons/file.svg); }
i[data-feather="file-text"]:after { background-image: url(../icons/file-text.svg); }
i[data-feather="film"]:after { background-image: url(../icons/film.svg); }
i[data-feather="filter"]:after { background-image: url(../icons/filter.svg); }
i[data-feather="flag"]:after { background-image: url(../icons/flag.svg); }
i[data-feather="folder-minus"]:after { background-image: url(../icons/folder-minus.svg); }
i[data-feather="folder-plus"]:after { background-image: url(../icons/folder-plus.svg); }
i[data-feather="folder"]:after { background-image: url(../icons/folder.svg); }
i[data-feather="framer"]:after { background-image: url(../icons/framer.svg); }
i[data-feather="frown"]:after { background-image: url(../icons/frown.svg); }
i[data-feather="gift"]:after { background-image: url(../icons/gift.svg); }
i[data-feather="git-branch"]:after { background-image: url(../icons/git-branch.svg); }
i[data-feather="git-commit"]:after { background-image: url(../icons/git-commit.svg); }
i[data-feather="github"]:after { background-image: url(../icons/github.svg); }
i[data-feather="gitlab"]:after { background-image: url(../icons/gitlab.svg); }
i[data-feather="git-merge"]:after { background-image: url(../icons/git-merge.svg); }
i[data-feather="git-pull-request"]:after { background-image: url(../icons/git-pull-request.svg); }
i[data-feather="globe"]:after { background-image: url(../icons/globe.svg); }
i[data-feather="grid"]:after { background-image: url(../icons/grid.svg); }
i[data-feather="hard-drive"]:after { background-image: url(../icons/hard-drive.svg); }
i[data-feather="hash"]:after { background-image: url(../icons/hash.svg); }
i[data-feather="headphones"]:after { background-image: url(../icons/headphones.svg); }
i[data-feather="heart"]:after { background-image: url(../icons/heart.svg); }
i[data-feather="help-circle"]:after { background-image: url(../icons/help-circle.svg); }
i[data-feather="hexagon"]:after { background-image: url(../icons/hexagon.svg); }
i[data-feather="home"]:after { background-image: url(../icons/home.svg); }
i[data-feather="image"]:after { background-image: url(../icons/image.svg); }
i[data-feather="inbox"]:after { background-image: url(../icons/inbox.svg); }
i[data-feather="info"]:after { background-image: url(../icons/info.svg); }
i[data-feather="instagram"]:after { background-image: url(../icons/instagram.svg); }
i[data-feather="italic"]:after { background-image: url(../icons/italic.svg); }
i[data-feather="key"]:after { background-image: url(../icons/key.svg); }
i[data-feather="layers"]:after { background-image: url(../icons/layers.svg); }
i[data-feather="layout"]:after { background-image: url(../icons/layout.svg); }
i[data-feather="life-buoy"]:after { background-image: url(../icons/life-buoy.svg); }
i[data-feather="link-2"]:after { background-image: url(../icons/link-2.svg); }
i[data-feather="linkedin"]:after { background-image: url(../icons/linkedin.svg); }
i[data-feather="link"]:after { background-image: url(../icons/link.svg); }
i[data-feather="list"]:after { background-image: url(../icons/list.svg); }
i[data-feather="loader"]:after { background-image: url(../icons/loader.svg); }
i[data-feather="lock"]:after { background-image: url(../icons/lock.svg); }
i[data-feather="log-in"]:after { background-image: url(../icons/log-in.svg); }
i[data-feather="log-out"]:after { background-image: url(../icons/log-out.svg); }
i[data-feather="mail"]:after { background-image: url(../icons/mail.svg); }
i[data-feather="map-pin"]:after { background-image: url(../icons/map-pin.svg); }
i[data-feather="map"]:after { background-image: url(../icons/map.svg); }
i[data-feather="maximize-2"]:after { background-image: url(../icons/maximize-2.svg); }
i[data-feather="maximize"]:after { background-image: url(../icons/maximize.svg); }
i[data-feather="meh"]:after { background-image: url(../icons/meh.svg); }
i[data-feather="menu"]:after { background-image: url(../icons/menu.svg); }
i[data-feather="message-circle"]:after { background-image: url(../icons/message-circle.svg); }
i[data-feather="message-square"]:after { background-image: url(../icons/message-square.svg); }
i[data-feather="mic-off"]:after { background-image: url(../icons/mic-off.svg); }
i[data-feather="mic"]:after { background-image: url(../icons/mic.svg); }
i[data-feather="minimize-2"]:after { background-image: url(../icons/minimize-2.svg); }
i[data-feather="minimize"]:after { background-image: url(../icons/minimize.svg); }
i[data-feather="minus-circle"]:after { background-image: url(../icons/minus-circle.svg); }
i[data-feather="minus-square"]:after { background-image: url(../icons/minus-square.svg); }
i[data-feather="minus"]:after { background-image: url(../icons/minus.svg); }
i[data-feather="monitor"]:after { background-image: url(../icons/monitor.svg); }
i[data-feather="moon"]:after { background-image: url(../icons/moon.svg); }
i[data-feather="more-horizontal"]:after { background-image: url(../icons/more-horizontal.svg); }
i[data-feather="more-vertical"]:after { background-image: url(../icons/more-vertical.svg); }
i[data-feather="mouse-pointer"]:after { background-image: url(../icons/mouse-pointer.svg); }
i[data-feather="move"]:after { background-image: url(../icons/move.svg); }
i[data-feather="music"]:after { background-image: url(../icons/music.svg); }
i[data-feather="navigation-2"]:after { background-image: url(../icons/navigation-2.svg); }
i[data-feather="navigation"]:after { background-image: url(../icons/navigation.svg); }
i[data-feather="octagon"]:after { background-image: url(../icons/octagon.svg); }
i[data-feather="package"]:after { background-image: url(../icons/package.svg); }
i[data-feather="paperclip"]:after { background-image: url(../icons/paperclip.svg); }
i[data-feather="pause-circle"]:after { background-image: url(../icons/pause-circle.svg); }
i[data-feather="pause"]:after { background-image: url(../icons/pause.svg); }
i[data-feather="pen-tool"]:after { background-image: url(../icons/pen-tool.svg); }
i[data-feather="percent"]:after { background-image: url(../icons/percent.svg); }
i[data-feather="phone-call"]:after { background-image: url(../icons/phone-call.svg); }
i[data-feather="phone-forwarded"]:after { background-image: url(../icons/phone-forwarded.svg); }
i[data-feather="phone-incoming"]:after { background-image: url(../icons/phone-incoming.svg); }
i[data-feather="phone-missed"]:after { background-image: url(../icons/phone-missed.svg); }
i[data-feather="phone-off"]:after { background-image: url(../icons/phone-off.svg); }
i[data-feather="phone-outgoing"]:after { background-image: url(../icons/phone-outgoing.svg); }
i[data-feather="phone"]:after { background-image: url(../icons/phone.svg); }
i[data-feather="pie-chart"]:after { background-image: url(../icons/pie-chart.svg); }
i[data-feather="play-circle"]:after { background-image: url(../icons/play-circle.svg); }
i[data-feather="play"]:after { background-image: url(../icons/play.svg); }
i[data-feather="plus-circle"]:after { background-image: url(../icons/plus-circle.svg); }
i[data-feather="plus-square"]:after { background-image: url(../icons/plus-square.svg); }
i[data-feather="plus"]:after { background-image: url(../icons/plus.svg); }
i[data-feather="pocket"]:after { background-image: url(../icons/pocket.svg); }
i[data-feather="power"]:after { background-image: url(../icons/power.svg); }
i[data-feather="printer"]:after { background-image: url(../icons/printer.svg); }
i[data-feather="radio"]:after { background-image: url(../icons/radio.svg); }
i[data-feather="refresh-ccw"]:after { background-image: url(../icons/refresh-ccw.svg); }
i[data-feather="refresh-cw"]:after { background-image: url(../icons/refresh-cw.svg); }
i[data-feather="repeat"]:after { background-image: url(../icons/repeat.svg); }
i[data-feather="rewind"]:after { background-image: url(../icons/rewind.svg); }
i[data-feather="rotate-ccw"]:after { background-image: url(../icons/rotate-ccw.svg); }
i[data-feather="rotate-cw"]:after { background-image: url(../icons/rotate-cw.svg); }
i[data-feather="rss"]:after { background-image: url(../icons/rss.svg); }
i[data-feather="save"]:after { background-image: url(../icons/save.svg); }
i[data-feather="scissors"]:after { background-image: url(../icons/scissors.svg); }
i[data-feather="search"]:after { background-image: url(../icons/search.svg); }
i[data-feather="send"]:after { background-image: url(../icons/send.svg); }
i[data-feather="server"]:after { background-image: url(../icons/server.svg); }
i[data-feather="settings"]:after { background-image: url(../icons/settings.svg); }
i[data-feather="share-2"]:after { background-image: url(../icons/share-2.svg); }
i[data-feather="share"]:after { background-image: url(../icons/share.svg); }
i[data-feather="shield-off"]:after { background-image: url(../icons/shield-off.svg); }
i[data-feather="shield"]:after { background-image: url(../icons/shield.svg); }
i[data-feather="shopping-bag"]:after { background-image: url(../icons/shopping-bag.svg); }
i[data-feather="shopping-cart"]:after { background-image: url(../icons/shopping-cart.svg); }
i[data-feather="shuffle"]:after { background-image: url(../icons/shuffle.svg); }
i[data-feather="sidebar"]:after { background-image: url(../icons/sidebar.svg); }
i[data-feather="skip-back"]:after { background-image: url(../icons/skip-back.svg); }
i[data-feather="skip-forward"]:after { background-image: url(../icons/skip-forward.svg); }
i[data-feather="slack"]:after { background-image: url(../icons/slack.svg); }
i[data-feather="slash"]:after { background-image: url(../icons/slash.svg); }
i[data-feather="sliders"]:after { background-image: url(../icons/sliders.svg); }
i[data-feather="smartphone"]:after { background-image: url(../icons/smartphone.svg); }
i[data-feather="smile"]:after { background-image: url(../icons/smile.svg); }
i[data-feather="speaker"]:after { background-image: url(../icons/speaker.svg); }
i[data-feather="square"]:after { background-image: url(../icons/square.svg); }
i[data-feather="star"]:after { background-image: url(../icons/star.svg); }
i[data-feather="stop-circle"]:after { background-image: url(../icons/stop-circle.svg); }
i[data-feather="sunrise"]:after { background-image: url(../icons/sunrise.svg); }
i[data-feather="sunset"]:after { background-image: url(../icons/sunset.svg); }
i[data-feather="sun"]:after { background-image: url(../icons/sun.svg); }
i[data-feather="tablet"]:after { background-image: url(../icons/tablet.svg); }
i[data-feather="tag"]:after { background-image: url(../icons/tag.svg); }
i[data-feather="target"]:after { background-image: url(../icons/target.svg); }
i[data-feather="terminal"]:after { background-image: url(../icons/terminal.svg); }
i[data-feather="thermometer"]:after { background-image: url(../icons/thermometer.svg); }
i[data-feather="thumbs-down"]:after { background-image: url(../icons/thumbs-down.svg); }
i[data-feather="thumbs-up"]:after { background-image: url(../icons/thumbs-up.svg); }
i[data-feather="toggle-left"]:after { background-image: url(../icons/toggle-left.svg); }
i[data-feather="toggle-right"]:after { background-image: url(../icons/toggle-right.svg); }
i[data-feather="tool"]:after { background-image: url(../icons/tool.svg); }
i[data-feather="trash-2"]:after { background-image: url(../icons/trash-2.svg); }
i[data-feather="trash"]:after { background-image: url(../icons/trash.svg); }
i[data-feather="trello"]:after { background-image: url(../icons/trello.svg); }
i[data-feather="trending-down"]:after { background-image: url(../icons/trending-down.svg); }
i[data-feather="trending-up"]:after { background-image: url(../icons/trending-up.svg); }
i[data-feather="triangle"]:after { background-image: url(../icons/triangle.svg); }
i[data-feather="truck"]:after { background-image: url(../icons/truck.svg); }
i[data-feather="tv"]:after { background-image: url(../icons/tv.svg); }
i[data-feather="twitch"]:after { background-image: url(../icons/twitch.svg); }
i[data-feather="twitter"]:after { background-image: url(../icons/twitter.svg); }
i[data-feather="type"]:after { background-image: url(../icons/type.svg); }
i[data-feather="umbrella"]:after { background-image: url(../icons/umbrella.svg); }
i[data-feather="underline"]:after { background-image: url(../icons/underline.svg); }
i[data-feather="unlock"]:after { background-image: url(../icons/unlock.svg); }
i[data-feather="upload-cloud"]:after { background-image: url(../icons/upload-cloud.svg); }
i[data-feather="upload"]:after { background-image: url(../icons/upload.svg); }
i[data-feather="user-check"]:after { background-image: url(../icons/user-check.svg); }
i[data-feather="user-minus"]:after { background-image: url(../icons/user-minus.svg); }
i[data-feather="user-plus"]:after { background-image: url(../icons/user-plus.svg); }
i[data-feather="users"]:after { background-image: url(../icons/users.svg); }
i[data-feather="user"]:after { background-image: url(../icons/user.svg); }
i[data-feather="user-x"]:after { background-image: url(../icons/user-x.svg); }
i[data-feather="video-off"]:after { background-image: url(../icons/video-off.svg); }
i[data-feather="video"]:after { background-image: url(../icons/video.svg); }
i[data-feather="voicemail"]:after { background-image: url(../icons/voicemail.svg); }
i[data-feather="volume-1"]:after { background-image: url(../icons/volume-1.svg); }
i[data-feather="volume-2"]:after { background-image: url(../icons/volume-2.svg); }
i[data-feather="volume"]:after { background-image: url(../icons/volume.svg); }
i[data-feather="volume-x"]:after { background-image: url(../icons/volume-x.svg); }
i[data-feather="watch"]:after { background-image: url(../icons/watch.svg); }
i[data-feather="wifi-off"]:after { background-image: url(../icons/wifi-off.svg); }
i[data-feather="wifi"]:after { background-image: url(../icons/wifi.svg); }
i[data-feather="wind"]:after { background-image: url(../icons/wind.svg); }
i[data-feather="x-circle"]:after { background-image: url(../icons/x-circle.svg); }
i[data-feather="x-octagon"]:after { background-image: url(../icons/x-octagon.svg); }
i[data-feather="x-square"]:after { background-image: url(../icons/x-square.svg); }
i[data-feather="x"]:after { background-image: url(../icons/x.svg); }
i[data-feather="youtube"]:after { background-image: url(../icons/youtube.svg); }
i[data-feather="zap-off"]:after { background-image: url(../icons/zap-off.svg); }
i[data-feather="zap"]:after { background-image: url(../icons/zap.svg); }
i[data-feather="zoom-in"]:after { background-image: url(../icons/zoom-in.svg); }
i[data-feather="zoom-out"]:after { background-image: url(../icons/zoom-out.svg); }
